@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--white_color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

:root {
  --main-color: #0090f0;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
  --footer_text: #fff;
  --footer_p: #a0aec0;
}

body.dark {
  --main-color: #000;
  --bg_color: #242424;
  --white_color: #121212;
  --color_heading: #f3f3f3;
  --border_color: #333333;
  --footer_text: #000;
  --footer_p: #333;
}

body.dark .price,
body.dark .price span {
  color: #fff;
}

body {
  background-color: var(--white_color);
  color: var(--color_heading);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_heading);
  font-family: "DM Sans", sans-serif;
}
span {
  color: var(--main-color);
}
p {
  color: var(--p_color);
}
a {
  text-decoration: none;
  color: var(--color_heading);
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}
.btn {
  padding: 10px 25px;
  text-transform: capitalize;
  border-radius: 30px;
  cursor: pointer;
  background-color: #0090f0;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: fit-content;
  white-space: nowrap;
}
.btn:hover{
  scale: 1.1;

}
